[2018-06-25 10:05] janedbal opened #6 "Invalid error produced when only subset of thrown exception is annotated"
Following code:

[code]

results in

[code]

but the `FooException` is annotated on method `foo()`.

[2018-06-25 10:34] #6 closed, assigned to nobody

[2018-06-25 10:38] pepakriz commented on #6
Fixed by #7

Thank you!

[2018-07-25 16:33] roukmoute opened #16 "Invalid error produced with an annotated exception in library"
I've got this error:

[code]

With this kind of code:

[code]

And if we see [the library](https://github.com/algolia/algoliasearch-client-php/blob/master/src/AlgoliaSearch/Index.php#L603), we are supposed to write this exception.

[2018-07-25 18:39] pepakriz commented on #16
Hi. Are you sure you have `AlgoliaSearch\AlgoliaException` in `checkedExceptions` section? Like this:

[code]

[2018-07-25 21:09] roukmoute commented on #16
Oh yeah thanks, I hadn't seen that.

[2018-07-26 06:07] pepakriz commented on #16
you're welcome

[2018-07-26 08:20] roukmoute commented on #16
It fixes a few things, but not everything.

![image](https://user-images.githubusercontent.com/2140469/43249971-7d05c0ee-90bc-11e8-89b3-07917106cd9f.png)
[initIndex() method](https://github.com/algolia/algoliasearch-client-php/blob/master/src/AlgoliaSearch/Client.php#L708)

I've got no errors:
[code]

But but on the contrary:
[code]

Give me:
[code]

[2018-07-26 08:27] pepakriz commented on #16
@roukmoute is `$this->client` annotated properly?

[code]

[2018-07-26 08:54] roukmoute commented on #16
Nop it is defined in the constructor:

[code]

But yes, if I define annotation, it works!

Is it a futur feature to detect the property via the constructor :wink: ?

[2018-07-26 09:04] roukmoute opened #17 "{@inheritdoc} is not used to detect exception annotation"
I think [`{@inheritdoc}`](https://docs.phpdoc.org/guides/inheritance.html) should be used to import exception annotation.

A simple example is to do a [command with Symfony](https://symfony.com/doc/current/console.html)

Exception is [marked here](https://github.com/symfony/symfony/blob/87adf25091568810e0d2996b17f9db25d9ee8147/src/Symfony/Component/Console/Command/Command.php#L155)

[code]

[code]

[2018-07-26 09:17] pepakriz commented on #16
It is behavior of phpstan core, so ask there https://github.com/phpstan/phpstan

Currently, you must annotate all class properties, method arguments and return types if you want to benefit from static analysis.

[2018-07-26 10:06] roukmoute commented on #16
Thanks for all !

[2018-07-26 10:06] #16 closed, assigned to nobody

[2018-07-26 10:30] pepakriz commented on #17
I think the current behavior is correct. In your command class, you say it can throws `Symfony\Component\Console\Exception\LogicException` (because of `{@inheritdoc}`) but it is not true. Second thing - your implementation returns `void` which is incompatible with parent phpdoc. So you should remove phpdoc completely (native typehints are sufficient).

Maybe error message needs better wording - `@

[2018-07-26 12:36] roukmoute commented on #17
I understand your logic.

But I don't think it is a good things to remove documentation for the benefit of the tools.

Is it not possible to _remove_ detected throw in parent when it is an overriden method?

[2018-07-26 13:49] pepakriz commented on #17
I'm convinced that when your overridden method is more concrete, you should write custom concrete phpdoc (or use native hints). But I understand it is not so comfortable in some cases. I'll think about some new configuration option...

[2018-07-28 09:55] xificurk opened #19 "Replacement for ignoredExceptions"
I've been thinking a bit more about the problem discussed under 461c803a7aa1a4b7303c6bd43c533d83c72a1de6

I believe the class inheritance is not the real problem for configuring checked/unchecked exceptions. All the exceptions can be arranged in tree graph, and you can unambiguously decide whether a given class is checked or unchecked - the original implementation using checkedExceptions and ignor

[2018-07-31 18:23] pepakriz commented on #19
Thank you for your effort, really nice research.

You are right, interfaces cause a similar problem, which does not have been mentioned. So this is the main reason why I don't like `checkedExceptions` options because everything should be "checked" by default ideally. But in real PHP ecosystem there is 3rd party code which uses one generic `Exception` for everything, or doesn't respect logic vs run

[2018-08-03 11:37] Stadly opened #21 "Handling of @inheritDoc and {@inheritDoc}"
The annotations `@inheritDoc` and `{@inheritDoc}` are not handled correctly.

According to [phpDocumentor](https://docs.phpdoc.org/guides/inheritance.html):

So we have that
- `{@inheritDoc}` only imports the description of the super-element (`@throws` annotations are *not* imported).
- `@inheritDoc` should be used when the element should inherit all its information from a super-element (`@throws`

[2018-08-03 12:26] roukmoute commented on #21
Already in discussion here: https://github.com/pepakriz/phpstan-exception-rules/issues/17

[2018-08-03 13:08] Stadly commented on #21
Thanks, @roukmoute. I considered posting my issue as comment in https://github.com/pepakriz/phpstan-exception-rules/issues/17, but decided to open a new issue instead. The reason is that https://github.com/pepakriz/phpstan-exception-rules/issues/17 only focuses on `{@inheritDoc}`, and I found it difficult to really understand the issue raised there. (The title is "`{@inheritdoc}` is not used to de

[2018-08-03 18:57] pepakriz commented on #21
You are right, the current behavior is not ideal and probably wrong. But implementation uses phpstan reflection classes. So if you want to change/improve support of `@inheritdoc` docblock, please create an issue in https://github.com/phpstan/phpstan

[2018-08-04 12:16] Stadly commented on #21
I have now created an issue: https://github.com/phpstan/phpstan/issues/1332

[2018-08-06 14:49] Stadly opened #22 "How to use methodThrowTypeDeclarations"
I cannot get `methodThrowTypeDeclarations` to work. Consider the following code:

[code]

Using a configuration like this:

[code]

I get the following error report:

[code]

What am I doing wrong?

[2018-08-07 09:01] pepakriz commented on #22
Hi @Stadly . Currently, constructors are not supported in `methodThrowTypeDeclarations` and in `throw type extensions`. But this feature is planned for next release.

[2018-08-12 18:58] pepakriz commented on #22
Solved by 60b1c46f0a5ddbdf16706b34bd8c669dee867c2e and 531c9fe76b2e9ac6adab7615a217a440816ef57c

And released as https://github.com/pepakriz/phpstan-exception-rules/releases/tag/v0.3.1

[2018-08-12 18:58] #22 closed, assigned to pepakriz

[2018-08-13 15:26] pepakriz commented on #21
So I think I can close this. Thank you

[2018-08-13 15:26] #21 closed, assigned to nobody

[2018-09-18 19:48] janedbal opened #24 "Possibility to exclude tests"
Currently I need to catch or annotate all checked exceptions in my tests, but it is quite useless work (exception thrown in test will just cause the test to fail). Is there any way to exclude test files (by namespace or classname or parent class or whatever) from this check? It would be really useful I think.

[2018-09-27 10:51] Stadly commented on #24
I solve this by using two different phpstan configuration files. One for my source files, where the exception rules are included:
[code]

And one for my test files, where the exception rules are not included (but some phpunit test are).
[code]

Then phpstan must be run twice:
[code]

But a way to exclude exception testing from all test files would definitely be an easier solution!

[2018-09-27 11:17] Stadly opened #25 "Let method throw exception using methodThrowTypeDeclarations"
How can I use `methodThrowTypeDeclarations` to override a parent method definition and let child method implementations throw exceptions?

Consider the following code:

[code]

[code]
Using a configuration like this:

[code]

I get the following error report:

[code]

The use case here is that `Foo` is part of some library that does not use `@throws` annotations.

[2018-10-01 07:51] pepakriz commented on #25
Hi @Stadly . Thanks for your report. This feature is not supported now, but your use-case makes sense. I'll look into it.

[2018-10-01 08:00] pepakriz commented on #24
I'm thinking about it, but in TestCase you can have testing methods like `function testFoo() {}` together with non-testing/private methods. And in my opinion, you should exclude only testing methods. But yep, excluding based on a parent is a simple and just-works solution.

[2018-10-01 19:32] #25 closed, assigned to nobody

[2018-10-02 07:37] Stadly opened #28 "Cannot install v0.3.2 using Composer"
Version 0.3.2 is not available using Composer. As you can see, it is not listed on [Packagist](https://packagist.org/packages/pepakriz/phpstan-exception-rules).

[2018-10-02 14:51] pepakriz commented on #28
Ups, integration with packagist has been broken. Try it now.

[2018-10-03 05:33] #28 closed, assigned to nobody

[2018-10-03 07:46] Stadly opened #29 "Warn about misconfiguration"
It would be easier to configure PHPStan exception rules correctly if warnings were emitted for potential misconfigurantions. Consider the following configuration file:
[code]

A warning should be shown when
- FooException does not exist.
- FooException does not implement Throwable.
- Bar does not exist.
- Bar::barMethod does not exist.
- BarException does not exist.
- BarException does not impleme

[2018-10-03 17:34] pepakriz commented on #29
Your suggestion leads to make a `CompilerExtension` https://doc.nette.org/en/2.4/di-extensions which can validate the configuration before DI compilation. But it is not a common solution in phpstan ecosystem. I'd like to know current opinion of @ondrejMirtes, because I've talked with him about this some time ago and he didn't like the idea to depend on concrete DI implementation (Nette DI).

[2018-10-03 18:31] Stadly opened #30 "ShouldNotHappenException"
Just got this error. Let me know if you need anything else to figure it out.

[code]

[2018-10-06 15:55] #30 closed, assigned to nobody

[2018-10-06 15:55] pepakriz commented on #30
It can happen when a method is calling on an unknown class. I've fixed the internal error by skipping, but you should verify the place in your code where the error has occurred. Maybe you've defined wrong phpdoc or something...

[2018-10-08 13:23] ondrejmirtes commented on #29
See: https://github.com/phpstan/phpstan/issues/1459

BTW feel free to write your own validation. I just think that `CompilerExtension` is not especially suitable because you wouldn't have available all the functionality PHPStan can offer (like the Broker instance) during DIC compilation.

[2018-11-06 11:52] janedbal opened #32 "Useless throws annotation not detected for children"
Following code could be checked for useless throws annotation (`NotFoundException` extends `HttpException`).

[code]

What do you think?

[2018-11-08 17:31] marcospassos opened #33 "False positive for \ReflectionException"
First of all, thank you for bringing such a fantastic library!

I found a bug today catching a reflection exception:

[code]

The inspection message is:
[code]

It's wrong since `ReflectionProperty` throw an exception if the property or class does not exist.

[2018-11-12 01:28] marcospassos commented on #24
@pepakriz we're facing the same issue here. How about supporting patterns to ignore those methods?

[code]

[2018-11-13 22:19] marcospassos opened #34 "False positive for methods containing anonymous classes"
The following example reports an incorrect and conflicting warning:

[code]
Warning:
[code]
I'd to be happy to provide a PR with the fix if you can give some guidance on how to fix it  :)

[2018-11-26 02:50] #34 closed, assigned to nobody

[2018-11-26 03:12] pepakriz commented on #34
I know about this limitation, but I was lazy to implement it :)

Try current master. Your use-case should works. If you'll find any other broken case, please create next issue.

Thank you!

[2018-11-26 14:53] #33 closed, assigned to pepakriz

[2018-11-26 14:53] pepakriz commented on #33
Hi, fixed in master

Thank you!

[2018-11-26 15:28] marcospassos commented on #34
Thank you for fixing it :)

[2018-12-14 21:08] marcospassos opened #45 "Annotations are not detected in functions"
[code]

Warning:
[code]

[2018-12-24 09:58] #45 closed, assigned to nobody

[2018-12-24 10:01] pepakriz commented on #45
It has been fixed in the latest release.
Thank you!

[2018-12-24 11:59] marcospassos commented on #45
Thank you very much for spending time fixing it.

[2019-01-04 17:51] marcospassos opened #47 "Unused @throws should not warn about descriptive annotations"
I'd like to suggest introducing an option to allow descriptive `@throws` annotation for unchecked exceptions to cover several cases where is helpful to provide a description of the reason an exception is thrown.

Example:
[code]

[2019-01-04 19:00] marcospassos opened #48 "Configuration methodThrowTypeDeclarations is ignored"
Looks like the `exceptionRules` configuration does not work in some cases:

[code]

[code]

Warning:
[code]

[2019-01-05 16:50] #48 closed, assigned to nobody

[2019-01-05 16:54] pepakriz commented on #48
It should be fixed in latest release. Thank you!

[2019-01-05 16:58] marcospassos commented on #48
@pepakriz Thank you very much. I'll try to allocate some time this year to help you fix bugs and improve existing features.

[2019-01-05 17:11] pepakriz commented on #48
It would be great!

[2019-01-16 23:36] jakzal opened #51 "The latest phpstan version is not supported"
Phpstan 0.11 was released.

[2019-01-17 07:39] #51 closed, assigned to nobody

[2019-01-17 12:36] pepakriz commented on #47
I have a different opinion. `@throws` annotations should be used for runtime exception only. If you want to explain input restrictions, you should use classic method description. Do you agree?

[2019-01-17 13:54] marcospassos commented on #47
I don't think so as the `@throws` tag exists exactly for this purpose.  Not because an exception is unchecked that a method should not document that in a standardized fashion - it only makes it optional. Furthermore, it seems to be a common practice,  takes Java as an example.

Because not everyone may desire such behaviour, I suggest implementing a new option that fulfils both requirements. Frank

[2019-01-19 16:40] xificurk commented on #19
Well, this is not an easy issue to solve :/

I don't really like the configuration by namespace you're describing. I think it brings similar sorts of problems that lead to the removal of `ignoredExceptions` with much less readable configuration. I mean - would the configuration allow only top-level namespaces? What would be the rules regarding priority? All exceptions inherit from exceptions of ro

[2019-02-08 22:15] marcospassos opened #57 "Unused throws should consider methods declared in methodThrowTypeDeclarations"
The unused throws rule should consider the methods declared as well:

[code]

[code]

[2019-02-10 15:16] marcospassos commented on #57
I've already fixed in [this branch](https://github.com/marcospassos/phpstan-exception-rules/compare/master...marcospassos:fix-consider-default-as-used?expand=1), just waiting for #54 be merged to open the PR.

[2019-02-10 17:19] pepakriz commented on #57
Let's open the PR :)

[2019-02-10 17:20] pepakriz commented on #47
Resolved by https://github.com/pepakriz/phpstan-exception-rules/pull/54

[2019-02-10 17:20] #47 closed, assigned to nobody

[2019-02-10 17:30] marcospassos commented on #57
Fixed in #59

[2019-02-10 18:23] #57 closed, assigned to nobody

[2019-02-10 21:22] marcospassos opened #61 "Release a new version"
Release a new version with the latest changes 🚀

[2019-02-12 14:34] marcospassos commented on #24
@pepakriz can I pick this one to work on a solution or are you working on this?

[2019-02-12 14:35] marcospassos commented on #24
@pepakriz can I pick this one to work on a solution or are you working on this? If so, please assign it to me.

[2019-02-12 16:53] pepakriz commented on #24
@marcospassos feel free to solve it :+1:

[2019-02-12 17:08] pepakriz commented on #61
Done https://github.com/pepakriz/phpstan-exception-rules/releases/tag/v0.6.0

[2019-02-12 17:08] #61 closed, assigned to nobody

[2019-02-12 17:10] pepakriz commented on #24
@marcospassos I'm trying to assign it to you, but I don't know how :smile:

[2019-02-12 17:11] pepakriz commented on #24
Finally done :)

[2019-02-12 17:13] marcospassos commented on #32
_Implementation note:_ it should check that `NotFoundException` is not a descriptive annotation.

[2019-02-12 18:05] marcospassos opened #62 "ReflectionExtension should not warn about static::class"
Although safe, the rule reports the following snippet as missing `@throws`:

[code]
The `ReflectionClass` should handle this case without reporting warnings.

[2019-02-12 19:41] pepakriz commented on #62
I think It is because of `self::class` is resolved as ConstantStringType, but `static::class` is resolved as StringType. So there is no guarantee that the string contains a class name.

[2019-02-12 20:37] pepakriz commented on #62
WDYT about https://github.com/pepakriz/phpstan-exception-rules/compare/static-workaround?expand=1 ? Currently there is no better way than this ugly hack :(

[2019-02-13 18:40] #62 closed, assigned to marcospassos

[2019-02-14 07:51] voku opened #64 ""ThrowsScope": Undefined offset"
```Undefined offset: -1 in ..../vendor/composer/pepakriz/phpstan-exception-rules/src/Rules/ThrowsScope.php on line 96```

with v0.6.1

[2019-02-14 08:18] ro0NL opened #65 "ThrowsScope: Uncaught TypeError: array_keys() expects parameter 1 to be array, null given"
[code]

[2019-02-14 09:03] pepakriz commented on #65
Probably duplication of https://github.com/pepakriz/phpstan-exception-rules/issues/64

[2019-02-14 09:04] pepakriz commented on #64
Can you provide some code, which leads to this error?

[2019-02-15 07:36] #65 closed, assigned to nobody

[2019-02-15 07:42] pepakriz commented on #64
Check it again with v0.6.2, please. It should be fixed.

[2019-02-15 07:42] #64 closed, assigned to nobody

[2019-02-15 18:07] marcospassos opened #67 "False positive for inherited descriptive annotations"
Inherited description annotations are incorrectly reported as unused:

[code]

[2019-02-15 18:09] marcospassos opened #68 "Add support for ReflectionMethod in ReflectionExpression"
The `ReflectionExtension` currently does not support `ReflectionMethod`.

[code]

[2019-02-15 22:16] voku commented on #64
:+1: yep, it's fixed with v0.6.2

Thanks for your work!

[2019-02-16 07:55] pepakriz commented on #67
This is expected behavior since phpstan v0.11.0 (PR https://github.com/phpstan/phpstan/pull/1533). If you omit phpdoc, it is inherited from the parent method. So your code is interpreted in the same way like:

[code]

[2019-02-19 19:22] #68 closed, assigned to nobody

[2019-02-20 21:57] marcospassos commented on #67
My example was flawed, I've updated it. If you throw an exception declared in the parent method, it should not warn about that exception in the concrete method if it is descriptive.

[2019-02-20 22:39] marcospassos opened #71 "Crash reading annotation from anonymous classes"
This problem was quite tricky to track.

PHPStan analyses anonymous classes using `eval`. When the `ReflectionClass` of an anonymous class is created, it retains the line on which the eval occurred, rather than the line where the class was declared. It causes the `ThrowsAnnotationReader` to crash when attempting to read the annotations for anonymous classes.

I'll provide a PR with a hotfix in the

[2019-02-28 06:56] #71 closed, assigned to nobody

[2019-02-28 13:32] #32 closed, assigned to pepakriz

[2019-03-12 17:17] marcospassos commented on #67
Pending https://github.com/phpstan/phpstan/pull/1980

[2019-03-17 19:31] marcospassos opened #76 "Check exceptions in yield from"
The rule should check exceptions thrown in `yield from` statements:

[code]

[2019-03-24 21:41] marcospassos opened #77 "Reports ArtihmeticError for division, remainder and bitwise operations"
The following snippet reports a false positive:

[code]
[code]
[According to the PHP's docs](https://www.php.net/manual/en/class.arithmeticerror.php), division, remainder and bitwise operations can throw `ArithmeticException`.

[2019-03-24 21:49] marcospassos opened #78 "Exceptions thrown by callables"
Currently, wrapping a callable call into a `try catch` block always results in an error:

[code]
[code]
In fact, we have no ways to detect which exception can be possibly thrown by an unknown callable. However, we could detect calls to callables inside `try` blocks and whitelist any exception in the catch.

[2019-03-24 21:50] marcospassos commented on #78
@pepakriz what are your thoughts on this?

[2019-03-24 21:50] marcospassos commented on #77
@pepakriz what are your thoughts on this?

[2019-03-29 10:29] pepakriz commented on #76
Can you show me some better-working example? `yield from` works just with generators.

[2019-03-29 10:44] pepakriz commented on #78
It's known issue: https://github.com/pepakriz/phpstan-exception-rules#anonymous-functions-are-analyzed-at-the-same-place-they-are-declared
Previously, I've tried to solve it in this branch https://github.com/pepakriz/phpstan-exception-rules/tree/catch-and-throw , but the code is unnecessarily complicated and full of black magic.

As you say - detecting callable calls is maybe a good solution until

[2019-03-29 10:54] pepakriz commented on #77
I see only two kinds of situations which can lead to `ArithmeticException`:

1) `intdiv(PHP_INT_MIN, -1);`
2) `1 << -3;`

Do you have an example with an arithmetic operator?

[2019-04-16 15:30] #76 closed, assigned to nobody

[2019-04-16 15:46] #77 closed, assigned to nobody

[2019-05-20 11:07] solcik opened #85 "Invalid configuration: parameters › exceptionRules"
# Bug report

[code]

Error: ```Invalid configuration: parameters › exceptionRules```
Introduces by https://github.com/phpstan/phpstan/commit/54a125df47fa097b792cb9a3e70c49f753f66b85

### Code snippet that reproduces the problem

Config:
[code]

I have to disable `validateParameters` from `bleedingEdge` to overcome the problem.

[code]

[2019-05-20 12:50] pepakriz commented on #85
Hi, thank you for your bug report.

Can you send me PR with a fix? Implementation should be very easy. You can find inspiration here https://github.com/phpstan/phpstan-nette/commit/80491370caad55eec39db383a435cd6f5073956c

It'll probably solve #29

[2019-05-20 13:12] ondrejmirtes commented on #29
I think the best hack how to solve this is to define a service that accepts `%exceptionRules%` and does just this validation. I'm not sure how to make it instantiated every time though.

[2019-05-25 06:44] #85 closed, assigned to nobody

[2019-06-12 07:50] mimmi20 opened #87 "@throws in Traits ignored"
I got the following error:

[code]

I added the `@throw` Annotations in the Trait, but the error did not disappear.

This is the Testfile
[code]

This is the Trait
[code]

This is the config:

[code]

[2019-07-09 15:06] janedbal opened #88 "Warn about useless catch unions"
It would be nice if this rule would warn about usages like this:

[code]

The `EasyPostBadResponseException` can be ommitted here.

[2019-07-10 10:44] ondrejbouda opened #89 "Unused annotation for methods implementing an interface and not throwing exception declared on interface"
Let's have an interface:
[code]

And an implementation:
[code]

`UserNotFound` is a checked exception.

But now I get an error:
[code]

I don't think this should be reported for classes implementing an interface. The declaration of thrown exceptions on an interface should mean (in my opinion) that
* the implementation can (but doesn't *need to*) throw these exceptions
* and the implementation cann

[2019-07-15 07:47] pepakriz commented on #89
Hi. This is expected behavior since phpstan v0.11.0 (PR phpstan/phpstan#1533). If you omit phpdoc, it is inherited from the parent method. So your code is interpreted in the same way like:

[code]

But since 0.11.6 (https://github.com/phpstan/phpstan/releases/tag/0.11.6) you can write:
[code]

[2019-07-15 20:26] ondrejbouda commented on #89
Yes, I understand it is intentional. I just don't think it is right behavior in this case. That a method doesn't *need to* throw exception when annotated with `@throws`. It is very limiting when implementing an interface.

But thanks for the `@throws void` tip, this way I can work around this issue!

[2019-07-15 20:26] #89 closed, assigned to nobody

[2019-08-23 10:23] Stadly opened #92 "Combining @inheritDoc and @throws void"
Combining `@inheritDoc` and `@throws void` doesn't work.

[code]

Erroneously gives the error `Unused @throws RuntimeException annotation`.

[2019-08-23 10:26] Stadly commented on #17
This can probably be closed, now that `@throws void` is implemented. https://github.com/phpstan/phpstan/pull/2066

[2019-08-25 09:20] pepakriz commented on #92
Sorry, but this feature must be implemented in phpstan itself. See: https://github.com/phpstan/phpstan/issues/2206

[2019-08-25 09:20] #92 closed, assigned to nobody

[2019-11-15 20:42] marcospassos commented on #17
#95 introduces support for this use case.

[2019-11-15 20:42] marcospassos commented on #24
#93 introduces support for this use case.

[2019-11-15 20:43] marcospassos commented on #67
Fixed by #94.

[2019-11-16 18:12] #24 closed, assigned to marcospassos

[2019-11-16 19:25] #67 closed, assigned to nobody

[2019-11-16 20:08] #17 closed, assigned to nobody

[2019-11-17 15:08] marcospassos opened #98 "Exceptions thrown by functions are not detect"
The rule does not detect exceptions thrown by functions:

[code]

[2019-11-17 15:28] marcospassos commented on #98
Fai

[2019-11-17 15:28] #98 closed, assigned to marcospassos

[2019-11-17 20:50] #88 closed, assigned to nobody

[2019-11-30 15:32] VincentLanglet opened #102 "Improve config documentation"
In the usage paragraph, there is a list of all the feature and then there is different example of config. But when I looked at a README, I expect the list of all possible config value, and what they're doing.

I had to look at `extension.neon` to be sure of all the config value.
[code]

And I can't even be sure about what I'm configuring when changing the value of `reportUnusedCatchesOfUncheckedEx

[2019-12-02 14:42] VincentLanglet opened #104 "Disable check for function/class/path/folder/... is not working"
I use phpstan for both my src/ and test/ folder.
But I want to use this extension only for my src folder.

I was expecting solving the issue with
[code]

But I still getting error in my tests files.
[code]

I create a PR with failing tests https://github.com/pepakriz/phpstan-exception-rules/pull/103 for the rule introduced by @marcospassos

[code]
SHOULD NOT return an error by phpstan

Plus, I don

[2019-12-02 17:40] VincentLanglet opened #106 "False error 'UnusedThrows' when using new SplFileObject"
The code
[code]
Is failing with the error message ` Unused @throws Exception annotation`

See https://github.com/pepakriz/phpstan-exception-rules/pull/105

[2019-12-02 18:01] pepakriz commented on #106
@VincentLanglet You can write a `ConstructorThrowTypeExcention` to handle it correctly. See a similar solution for `DateTime`: https://github.com/pepakriz/phpstan-exception-rules/blob/master/src/Extension/DateTimeExtension.php

[2019-12-02 18:14] VincentLanglet commented on #106
@pepakriz Indeed I'll have to write this if I want to handle dynamically the exception.

But the phpdoc say clearly there can be an exception
[code]

So why, by default I don't have to catch the exception since there is no ConstructorThrowTypeExcention ? Why is there special case for constructor ?

[2019-12-02 19:38] pepakriz commented on #106
@VincentLanglet It's stub file from your IDE, right? Internal objects don't have phpdoc.

[2019-12-03 08:48] pepakriz commented on #104
Thank you for your interest! I think the correct fix is like this: https://github.com/pepakriz/phpstan-exception-rules/pull/107 because reporting `Unused @throws RuntimeException annotation` is expected. Whitelisted methods should not contain any `@throws` annotation. Do you agree? cc @marcospassos

[2019-12-03 09:25] VincentLanglet commented on #104
I depends.
For me `whitelist method` means `method ignored by this extension`.
For you `whitelist method` means `method which should not contains @throws annotation even if they throws one`.
Both points of view have their advantage and their defaults.

Both implementation solve my main issue so I'm ok with the two PR.

Maybe it's better to merge yours since it's a patch

[2019-12-03 09:26] VincentLanglet commented on #106
Yes you're right. I didn't know that.

[2019-12-03 10:48] pepakriz commented on #106
@VincentLanglet I'll keep this issue opened. Do you want to try to make a PR for `SplFileObjectExtension`? I'd like to release next version with this feature.

[2019-12-03 10:59] VincentLanglet commented on #106
I'll see if I can

[2019-12-05 06:32] #104 closed, assigned to nobody

[2019-12-05 08:58] #106 closed, assigned to nobody

[2019-12-06 19:14] xificurk opened #113 "Extension causing "return statement is missing" false positives"
After update to PHPStan 0.12 and PHPStan exception rules 0.10 we started getting a lot of false positives of type `Method *** should return *** but return statement is missing.`

It looks like the root cause is in this extension. Here is a minimal code to reproduce the error:

[code]

With bare phpstan no errors are reported.
After enabling exception rules extension the following error is reported

[2019-12-07 19:00] pepakriz commented on #113
Hi @xificurk . Thanks for your report. This PR should work https://github.com/pepakriz/phpstan-exception-rules/pull/114
Can you test it and confirm it?

[2019-12-07 20:14] xificurk commented on #113
Thanks for fast reply. I can confirm the fix #114 works on our code base.

[2019-12-09 06:14] #113 closed, assigned to pepakriz

[2019-12-12 21:46] pepakriz commented on #87
@mimmi20 Hi, I'm trying to reproduce it, but without luck. Maybe it's fixed in the master branch or I'm doing something wrong. Can you test it again please and provide me a minimal failing code? Thank you

[2019-12-12 21:54] pepakriz commented on #87
~@mimmi20 Yeah, I found it. This error occurs when both `checkedExceptions` and `uncheckedExceptions` are empty. I'll fix it.~

~In the meantime, you can change your configuration to `checkedExceptions: [ Throwable ]`~

No, It still works on my machine

[2019-12-15 09:02] mimmi20 commented on #87
I dont know which versions of PHPStan and of your Plugin I used at that time. I also archived the library where I got the error.

So I'm closing this issue.

[2019-12-15 09:02] #87 closed, assigned to nobody

[2019-12-15 09:04] mimmi20 commented on #87
I did not add any Exceptions/Throwables, because I wanted that all Exceptions/Throwables are checked.

[2020-01-11 15:04] VincentLanglet opened #116 "[Bug] Unfixable scenario with reportUnusedCatchesOfUncheckedExceptions / [Breaking change request ?] Unchecked exception"
## Introduction

Considering the \LogicException was set as unchecked.

<details>
  <summary>Examples of error returned actually</summary>

When using this library, an error is reported for this code.
[code]

An error is also reported without the option ignoreDescriptiveUncheckedExceptions for
[code]

No error is reported for
[code]

No error is reported without the option reportUnusedCatchesOfUnc

[2020-01-27 14:40] VincentLanglet commented on #116
@pepakriz I can try to work on this issue, but I need your point of view first.

[2020-01-28 07:13] pepakriz commented on #116
Hi. Your idea is absolutely correct and I agree with your suggested solution. Maybe just one notice. In fact, there can be 3 types of exceptions: 1) checked 2) unchecked 3) errors. The third type should not be annotated at all.

I'd like to hear @marcospassos opinion because He has a similar idea and `ignoreDescriptiveUncheckedExceptions` is his work.

[2020-01-28 09:21] VincentLanglet commented on #116
Do you think it will be easy to implement ?

Needed:
- 1° The following code should not return an error
[code]
- 2° The option ignoreDescriptiveUncheckedExceptions should be removed

Facultative:
- 1° Adding the option RequiredAnnotationForUncheckedExceptions
- 2° Special case for Errors.

[2020-02-17 18:22] VincentLanglet commented on #116
Hi, @pepakriz, it's been already 20 days. Should we start doing something about this unfixable scenario ?

[2020-02-17 18:31] marcospassos commented on #116
HI @VincentLanglet, sorry for the delayed reply, busy days here.

I've always been in favor of allowing docs about unchecked exceptions. That's why I've implemented this feature in the first place. So, if @pepakriz agrees with it, I'm in.

[2020-02-17 21:30] VincentLanglet commented on #116
No problem ;)

I'm happy to hear it !

Do you see how to implement theses changes @pepakriz ?

[2020-03-25 13:23] zeleznypa opened #117 "bug when catching "uncheckedExceptions""
When I have a method that throws one from "uncheckedExceptions" and in another method, I want to catch it, but the PhpStan return error:

[code]

The code looks like this https://phpstan.org/r/b2825581-5f6d-4c01-b08d-4658d077e16d
But there is no way how to set up it on phpstan.org

[2020-03-29 23:48] VincentLanglet commented on #117
I think this is a duplicate of https://github.com/pepakriz/phpstan-exception-rules/issues/116

[2020-03-30 08:48] zeleznypa commented on #117
@VincentLanglet Yes :) Closing ticket.

[2020-03-30 08:48] #117 closed, assigned to nobody

[2020-04-03 16:34] VincentLanglet commented on #116
Hi @pepakriz, would you have time to fix this or at least to help me to fix this since I have no clue about how this code works ? :)

[2020-04-16 17:11] pepakriz commented on #116
@VincentLanglet Can you prepare a PR with failing tests? Maybe someone'll take up the gauntlet.

[2020-04-16 17:30] VincentLanglet commented on #116
@pepakriz I'll try.
But the test are already failing in master so I'm not sure it will help a lot.
Do you know why ?

[2020-04-16 18:06] VincentLanglet commented on #116
@pepakriz Guess what ? Thanks to TDD I succeed to write the whole PR !
See https://github.com/pepakriz/phpstan-exception-rules/pull/119

Test are failing on the CI, but working locally when I installed with
[code]

I tried `prefer-lowest` since the tests were working before.

[2020-05-28 06:10] #116 closed, assigned to nobody

[2020-05-29 01:05] Majkl578 opened #124 "Exceptions declared on interfaces unused in implementations reported as unused"
There seem to be false positives with exceptions declared on interface methods that are not being used in the method implementation. This seems to be due to merging phpDoc since PHPStan 0.12.24 (https://github.com/phpstan/phpstan-src/pull/196). Happens both in 0.10.1 and 0.11.0.

[code]

[2020-05-29 07:24] pepakriz commented on #124
This is the expected behavior.

But you can disable this "strict" mode by adding `reportUnusedCheckedThrowsInSubtypes: false` to your config file.

See https://github.com/pepakriz/phpstan-exception-rules/pull/95

[2020-05-29 09:14] Majkl578 commented on #124
This doesn't make much sense in my opinion. `@throws` on interface method indicated the method MAY throw such exception, not that it will necessarily always do so. And not throwing such exception from the method at all is just a special and compatible case of such situation.
This is also how [phpDoc defines it](https://docs.phpdoc.org/latest/references/phpdoc/tags/throws.html):

It also violates L

[2020-05-29 10:14] pepakriz commented on #124
Look: https://github.com/pepakriz/phpstan-exception-rules/blob/master/extension.neon#L4

The default behavior is exactly as you're saying. In the early version, there was just "strict" mode and then we reimplement it in LSP way, but we wanted to preserve compatibility. So at first, we introduced `reportUnusedCheckedThrowsInSubtypes` with default `true` (as minor version) and then `false` in next m

[2020-05-31 09:04] VincentLanglet commented on #124
The solution I found was
[code]

[2020-05-31 13:15] Majkl578 commented on #124
@VincentLanglet There are however some issues with `@throws void`:
* it's not valid according to phpDoc definition of `@throws` - `void` doesn't extend `Throwable`,
* it's hard to remove only _some_ exceptions, e.g. would this be valid?
[code]

Also both Psalm and PHan report `@throws void` as invalid and that is IMO correct:
* https://psalm.dev/r/87f2f3634c
* https://phan.github.io/demo/?code=%3C

[2020-05-31 13:38] VincentLanglet commented on #124
I think the way to remove an exception is:
[code]

@Majkl578 I created this issue https://github.com/phpstan/phpstan/issues/3350, and closed it after the `throws void` response. Do you think I should re-open it ?

If Phpstan allows/recommend `@throws void` when Psalm/PHan don't, it will be hard to have all of them on the same project.
Does Psalm/PHan merge @throws tag too ?

Because if @throws tag

[2020-06-24 15:45] Majkl578 opened #133 "Broken stack with exceptions composed of trait(s) with abstract method(s)"
I have some exceptions in the code composed of traits with abstract method(s). `ThrowsScope` seems to be confused by that and attempts to beyond stack depth 0 when the trait is used in exception.

Minimal reproducer:
[code]

Stack trace from `Pepakriz\PHPStanExceptionRules\Rules\ThrowsScope::exitFromThrowsAnnotationBlock()` when `$this->stackIndex === 0` happens:
[code]

PHPStan 0.12.25
phpstan-ex

[2020-06-24 16:11] Majkl578 commented on #133
Actually turns out to be a bug in PHPStan itself, fixed somewhere between 0.12.26-0.12.30 - 0.12.30 version doesn't produce this issue. You may want to raise requirement on phpstan/phpstan though. :)

[2020-06-24 16:11] #133 closed, assigned to nobody

[2020-07-23 07:51] jakubvojacek opened #134 "Issue after phpstan upgrade (unused & missing at the same time)"
First of all, thank you for the amazing repo.

Everything was working smoothly until I upgraded to phpstan 0.12.33 (from 0.12.7) and exception-rules to 0.11.1 (from 0.10.1). After the upgrade I am getting both unused @throws warnings and missing warnings

[code]

Any idea what it could be, please? Not sure how I could share a reproduction sample.

[2020-07-23 15:13] lo00l opened #135 "@method phpdoc overrides real method definition"
Suppose I have the following code

**BaseClient.php**
[code]

**Client1.php**
[code]

**BaseResult.php**
[code]

**Result1.php**
[code]

As you can see I have added `@method` phpdoc to `Client1` class to enable type hinting.

Then, if I do something like
[code]

and run phpstan, I do not get `Missing @throws RuntimeException annotation` error. Why? Can I fix it somehow?

Of course I could write th

[2020-07-29 16:15] pepakriz commented on #134
Hi, I think it has something to do with https://github.com/phpstan/phpstan-src/pull/196 in v0.12.24. Can you check it? Otherwise, we need a failing sample.

[2020-07-30 02:21] ndench opened #136 "Native division does not throw ArithemticError"
In #77 checks for ArithmeticError were added, however I don't think that native division (eg. `$x / $y`) can actually throw this. https://github.com/pepakriz/phpstan-exception-rules/issues/77#issuecomment-477955886 mentions only two ways to get the error:

And the [PHP docs for ArithmeticError](https://www.php.net/manual/en/class.arithmeticerror.php) don't mention anything about native division.

[2020-07-30 11:23] jakubvojacek commented on #134
surprisingly, updating from 7.2 to 7.4 PHP helped, thank you anyway!

[2020-07-30 11:23] #134 closed, assigned to nobody

[2020-08-01 09:22] VincentLanglet commented on #136
What about https://www.php.net/manual/fr/class.divisionbyzeroerror.php
[code]

[2020-08-01 09:26] VincentLanglet commented on #135
@lo00l I'm maybe wrong, but this is maybe an issue to report to phpstan.
I believe that this library is mainly/only adding rules, without changing the way the phpdoc is parsed.

[2020-08-04 00:01] ndench commented on #136
@VincentLanglet extends ArithmeticError, so this code should be marked as throwing the more specific error. Though catching ArithmeticError at this point should silence any errors.

[2020-08-04 10:37] VincentLanglet commented on #136
Maybe @pepakriz or @marcospassos have an example.

If not, do you want to make a PR @ndench ?

[2020-08-04 11:46] pepakriz commented on #136
I haven't. So feel free to send PR

[2020-08-04 19:48] marcospassos commented on #136
https://3v4l.org/Sv6lM
https://3v4l.org/kuD6g

[2020-08-06 16:41] VincentLanglet commented on #136
@marcospassos, I think that @ndench was asking for an example of `$x / $y` throwing an ArithmeticError which is not a `DivisionByZeroError`.
Because if there is no case, we could improve the possible exception thrown in this case.

This way
[code]
would not report an uncought ArithmeticError.

[2020-08-12 10:56] VincentLanglet commented on #124
Phpstan now support `@phpstan-throws void`.

[2020-08-12 10:56] #124 closed, assigned to nobody

[2020-08-12 11:13] VincentLanglet commented on #135
I close this, in favor of the phpstan issue I created

[2020-08-12 11:13] #135 closed, assigned to nobody

[2020-08-12 11:17] ondrejmirtes commented on #135
See https://github.com/phpstan/phpstan/issues/3732#issuecomment-672810760

[2020-08-12 11:20] ondrejmirtes commented on #135
@lo00l Your case is actually best solved with generics:

[code]

[Go here to read more about generics](https://phpstan.org/blog/generics-in-php-using-phpdocs).

[2020-12-23 23:36] #136 closed, assigned to nobody

[2021-01-17 01:21] patrickkusebauch opened #139 "How to avoid `DivisionByZeroError`"
For a code like this:
[code]
It is impossible for the error to occur. Nonetheless, this extension will produce an error in PHPStan. Is there a way to avoid it without editing the code itself?

[2021-01-17 01:48] patrickkusebauch opened #140 "Bug: `MethodWhitelist` does not accept constructors"
It is needed for PHP build-in DateTime/DateTimeImmutable/DateInterval classes, that throw exceptions for invalid inputs. Furthermore, this extension will mark them even if the input is hardcoded.

[2021-01-17 09:14] pepakriz commented on #139
It is, because `$d === 0.0 ? 0.5 : $d` is resolved as `float`, not `SubtracedType<float, 0>`. But this scenario must be implemented on the phpstan side. See https://github.com/phpstan/phpstan-src/pull/185

[2021-01-17 21:59] patrickkusebauch commented on #139
Ok, so in the meantime, is there any way at all to divide by variable without throwing this error?

[2021-01-19 09:13] pepakriz commented on #139
@patrickkusebauch No, there's no way to ignore all cases with variable, but ignoring these cases by inline phpdoc as a temporary solution looks OK (https://phpstan.org/user-guide/ignoring-errors#ignoring-in-code-using-phpdocs).

[2021-01-19 09:19] pepakriz commented on #140
Yeah, this feature is missing because phpstan-dynamic-extensions didn't support constructors then. And I think the situation is still the same, isn't it?

[2021-01-19 16:02] kick-the-bucket opened #144 "random_int and random_bytes exceptions"
Both [`random_int`](https://www.php.net/manual/en/function.random-int.php#refsect1-function.random-int-errors) and [`random_bytes`](https://www.php.net/manual/en/function.random-bytes.php#refsect1-function.random-bytes-errors) internal functions throw `Exception` (among others), but if you try catching it - you get an error `Exception is never thrown in the corresponding try block`.

Code to repro

[2021-03-24 02:53] patrickkusebauch opened #145 "PHP8 exception in `match` statement"
For the following test case: https://phpstan.org/r/084388df-0741-4c10-a082-0d0d751b2f04

You will get: `Unused @throws \InvalidArgumentException annotation`

[2021-05-05 06:14] pepakriz commented on #145
It should be fixed by https://github.com/pepakriz/phpstan-exception-rules/pull/146 and released as v0.11.7

[2021-05-05 06:14] #145 closed, assigned to nobody

[2021-05-26 16:25] TravisCarden opened #147 "Inconsistent behavior detecting missing and useless @throws annotations"
**Update:** Before you spend too much time reading all the details the below, [see my comment](https://github.com/pepakriz/phpstan-exception-rules/issues/147#issuecomment-848986471) in which I explain that I think I've found the cause of my issue and ask a couple of follow-up questions.

I'm getting inconsistent behavior detecting missing and useless `@throws` annotations. Under some circumstances

[2021-05-26 17:42] TravisCarden commented on #147
Oh... I think I've figured out the reason for the behavior. My `DirectoryNotFoundException` extends `IOException`, so `@throws IOException` must be considered to cover them both by reason of inheritance. (If I remove the `extends` relationship, suddenly PHPStan starts complaining about missing `@throws DirectoryNotFoundException` all over the place.)

So assuming my technical assessment is correct

[2021-05-26 19:37] pepakriz commented on #147
I agree that the error message in the first scenario is a little confusing. It should mean `Exception PhpTuf\ComposerStager\Exception\DirectoryNotFoundException is not covered by @throws annotation`. IOException covers both exceptions thanks to inheritance.

Yeah, we can improve error messages :)

As you say. My recommendation is to use the same abstract exception for all "business/checked" except

[2021-05-27 14:05] TravisCarden commented on #147
Oh! I've never thought of abstract _exceptions_. That's a great idea. Thanks!

Oh, nice! I assume you're happy about that--congratulations! And thanks for the great contribution. I've only known about it for a short while, but it's been very valuable. 👍

[2021-06-07 20:38] #102 closed, assigned to nobody

[2021-06-08 14:04] pepakriz opened #148 "Is it time to deprecate this project?"
All features of this project are being ported to the phpstan itself. I don't know the current status but It looks like most features are done and we can mark this package deprecated/replaced.

I'm so happy that all users have a great and official replacement. My current project that I'm working on is not PHP-based, so I've not been focused on improving this package for a long time. And secondly, I

[2021-06-08 14:59] VincentLanglet commented on #148
My plan was to deprecate this project indeed.
I made multiple PR recently to move the DynamicThrowExtension to phpstan-src.

I wanted to try to do the migration on my project first in order to check if all the feature proposed by this library could be done in a way or another in the original phpstan repository. I just need some time ^^'

[2021-06-08 15:35] ondrejmirtes commented on #148
Hi, currently the rules in PHPStan are not exactly 1:1 with this package. If my plan was to copy them 1:1, i wouldn't do that and just forward people to this package :)

I thought that the remaining rules and behaviour I'm not interested in could be continued to be maintained here, maybe refactored with some help from PHPStan internals so that it doesn't do any weird magic with modifying the AST.

[2021-06-08 15:36] ondrejmirtes commented on #148
And about the help from internals - this package could read the `ThrowPoint`s from `MethodReturnStatementsNode` and `FunctionReturnStatementsNode`.

[2021-06-08 16:02] VincentLanglet commented on #148
Not a big loss, there was already some false positif with unchecked exception. So I think it's fine to catch and rethrow unchecked exceptions too.

IMHO after these, the librarie will lost 90% of his interest, and since there is already not a lot of maintenance, it will be better to deprecate it.

Also I'm not sure, but I think there is a big difference between phpstan and this extension, if I rem

[2021-06-08 16:05] ondrejmirtes commented on #148
Not exactly. PHPStan detects dead `@throws`. But there's going to be a difference of what's reported with `implicitThrows: true` (the default) vs. `implicitThrows: false`. See: https://phpstan.org/blog/bring-your-exceptions-under-control#what-does-absent-%40throws-above-a-function-mean%3F

[2021-06-08 16:14] VincentLanglet commented on #148
OK, i forgot about the `implicitThrows` option.
So this library was similar to phpstan with the option `implicitThrows: true` then.

[2021-08-15 18:31] mimmi20 opened #149 "Object of class PHPStan\Rules\RuleErrors\RuleError1 could not be converted to string"
# Bug report

## Versions

## Error

Internal error: Object of class PHPStan\Rules\RuleErrors\RuleError1 could not be converted to string
         Run PHPStan with --debug option and post the stack trace to:
         https://github.com/phpstan/phpstan/issues/new?template=Bug_report.md

[code]

### Code snippet that reproduces the problem

This is the code of the file where the error is thrown.

[c

[2021-08-15 18:32] mimmi20 commented on #149
see also https://github.com/phpstan/phpstan/issues/5462

[2021-10-18 07:29] #149 closed, assigned to nobody

[2022-06-22 16:14] TravisCarden opened #151 "Want a couple of exception design rules?"
**tl;dr**: I have a couple of custom PHPStan rules related to exception design and handling that I want to contribute, and I'm wondering if you would be interested in them.

I maintain a library ([php-tuf/composer-stager](https://github.com/php-tuf/composer-stager)) with strict design rules. I've created a couple of custom PHPStan rules to help me follow them, and I'm interested in contributing th

[2022-11-14 11:59] mxr576 commented on #151
@TravisCarden I like these ideas, I am also following these guidelines on my projects. As there is no activity on this issue maybe you could try to promote adding these new these new features directly to PHPStan or strict rules (not sure..).

UPDATE: looks related  #148

[2022-11-29 23:17] TravisCarden commented on #151
Ah, thanks, @mxr576. I didn't notice that the project had basically stagnated. I've created https://github.com/phpstan/phpstan/issues/8434 to propose this in PHPStan itself.

[2022-11-29 23:17] #151 closed, assigned to nobody